<nav class="navbar navbar-expand-sm" style="background-color: #0e0e3e">
    <div class="container-fluid">
      <ul class="navbar-nav" style="background-color: #111111">
        <li class="nav-item" *ngIf="!retrieveIsUserLoggedIn()">
          <a class="nav-link" routerLink="login">Login ||</a>
        </li>
        <li class="nav-item" *ngIf="retrieveIsUserLoggedIn()">
          <a class="nav-link" routerLink="list-books-http">Books For Sale ||</a>
        </li>
        <li class="nav-item" *ngIf="retrieveIsUserLoggedIn()">
          <a class="nav-link" routerLink="shopping-cart">Shopping Cart ||</a>
        </li>
        <li class="nav-item" *ngIf="retrieveIsUserLoggedIn()">
          <a class="nav-link" routerLink="profile">User Profile ||</a>
        </li>
        <li class="nav-item" *ngIf="retrieveIsUserLoggedIn()">
          <a class="nav-link" routerLink="logout">Logout</a>
        </li>
      </ul>
    </div>
    <div style="float: right; background-color: #111111; color: #cccccc">
    MY FIRST! BOOKSTORE
    </div>
  </nav>