<div class="container mt-5">
    <div class="row">
        <h6 [innerText]=[customerHello]></h6>
        <div class="col-2"></div>
        <div class="col-8">
            <h3>User Profile</h3>
            <h6 [innerText]=[accountId]></h6>
            <h6 [innerText]=[email]></h6>
            <h6 [innerText]=[firstName]></h6>
            <h6 [innerText]=[lastName]></h6>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ORDER NUMBER</th>
                        <th>TITLE</th>
                        <th>QUANTITY</th>
                        <th>COST</th>
                        <th>DATE</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let eachBook of boughtBooks">
                        <td>{{ eachBook.orderNo }}</td>
                        <td>{{ eachBook.bookTitle }}</td>
                        <td>{{ eachBook.quantity }}</td>
                        <td>${{ eachBook.bookCost }}</td>
                        <td>{{ eachBook.date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>

</div>
